body {
  font-family: sans-serif;
}

#activities_list {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#result {
  display: flex;
}

#result div {
  flex: 1;
}

.participants {
  text-align: left;
}

.participants img {
  padding-right: 10px;
  padding-left: 10px;
}

h1 {
  color: rgb(18, 95, 34);
}
.link_entry {
  display: flex;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #44444;
  text-align: center;
  padding: 8px;
}

th {
  border: 1px solid #e8e8e8;
  text-align: left;
  padding: 8px;
  background-color: #92a2bd;
  color: white;
}

thead {
  background-color: #444444;
  border: 1px solid #44444;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #e8e8e8;
}

img {
  max-height: 25px;
}

tr:nth-child(odd) {
  background-color: #f7f7f7;
}

textarea {
  width: 100%;
  height: 400px;
}
